.event-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  width: 300px; /* Adjust the width as needed */
  margin-bottom: 20px; /* Add margin at the bottom */
}

.event-card:hover {
  transform: scale(1.04);
}

.event-card .tag {
  position: absolute;
  top: 8px;
  right: 8px;
  background: white;
  color: #000;
  font-family: "Alegreya";
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  padding: 4px 12px;
  border-radius: 10px;
}

.event-card .event-details {
  padding: 20px;
}

.event-card .event-title {
  color: #000;
  font-family: Alegreya;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.event-card .event-description {
  color: #666666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Media Queries */
@media (max-width: 1040px) {
  .event-card {
    width: calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .event-card:nth-child(2n) {
    margin-right: 0;
  }

  .event-card:nth-child(3) {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 720px) {
  .event-card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}



.register-button {
  background-color: #007bff;
  color: yellow;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3;
}
