.event-card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ade0e1;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s;
  }
  
  .event-card:hover {
    transform: translateY(-5px);
  }
  
  .event-card h2 {
    font-size: 1.5rem;
    margin-top: 0;
    color: #333333;
  }
  
  .event-card p {
    margin: 10px 0;
    color: #666666;
  }
  
  .event-card .details {
    display: flex;
    justify-content: space-between;
  }
  
  .event-card .details div {
    flex: 1;
    text-align: center;
  }
  
  .event-card .details div:first-child {
    text-align: left;
  }
  
  .event-card .details div:last-child {
    text-align: right;
  }
  
  .event-card .details p {
    margin: 0;
  }
  

.search-bar {
  margin-bottom: 20px; 
}
.search-bar-container {
  margin-bottom: 20px; /* Adjust the margin as needed */
}
