.container {
  font-family: 'Inter', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo h1 {
  font-size: 24px;
}

.searchBar {
  position: relative;
}

.searchInput {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.clearIcon {
  right: 10px;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjusted left position */
  transform: translateY(-50%);
  cursor: pointer;
}


.navBar ul {
  display: flex;
  list-style-type: none;
}

.navBar li {
  margin-right: 20px;
}

.navBar a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navBar a:hover {
  color: #007bff;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
